lab2/.stack-work/
lab2/ghc-9.4.8-x86_64-apple-darwin/
lab2/dist-newstyle/
lab2/app.save0/
lab2/.idea/
lab2/out
lab1/.stack-work/
lab1/.DS_STORE
lab1/.idea/
lab1/.out
lab1/docker-compose.yaml
problems/.stack-work/
problems/.DS_STORE
problems/.idea/
problems/.out/
problems/dist-newstyle/
*~